/* Your app styles here */

.back_nav {
    z-index: 100;
}

.demo1_img1 {
    width: 750px;
    top: 0px;
    left: 0px;
    position: absolute;
}

.testdiv {
    width: 750px;
    height: 100%;
    position: absolute;
    background-color: red;
}

.testdiv {
    position: absolute;
    top: 200px;
    width: 600px;
    height: 100px;
    background-color: green;
    z-index: 1;
}

.ignoreDiv {
    position: absolute;
    top: 300px;
    width: 150px;
    height: 100px;
    left: 75px;
    background-color: green;
    z-index: 1;
}

.vwDiv {
    position: absolute;
    top: 300px;
    width: 375px;
    left: 75px;
    height: 100px;
    background-color: red;
    z-index: 1;
}

.percentDiv {
    position: absolute;
    top: 37%;
    width: 25%;
    left: 10%;
    height: 100px;
    background-color: red;
    z-index: 1;
}