.tweenmax_test {
    width: 100px;
    position: absolute;
    background-color: black;
    color: white;
    top: 200px;
}

.comDemo_test {
    width: 100px;
    position: absolute;
    background-color: black;
    color: white;
    top: 400px;
}